@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header .logo{
    background-color: #ffc107;
    text-align: center;
}

header .menu{
    background-color: #ffa000;
    display: flex;
    justify-content: center;
}

header .menu ul{
    margin: 0;
    list-style: none;
}

header .menu ul li{
    display: inline-block;
    padding: 10px 15px;
}

header .menu ul li a{
    text-decoration: none;
    color: #fdfdfd;
}

header .menu ul li a:hover {
    color: #fdfdfd84;
}

main section.banner{
    height: 600px;
    background-color: cadetblue;
    background-image: url(../imagens/banner-home.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main section.banner .container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 600px;
}

main section.banner h1{
    font-size: 70px;
    text-transform: lowercase;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
    padding: 100px;
}

main section.receitas-principais .container {
    min-height: 600px;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

main section.receitas-principais h2 {
    color: #ffa000;
    text-align: center;
    font-weight: bold;
    font-size: 55px;
    text-transform: lowercase;
}

.lista-receitas {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.lista-receitas article {
    width: 345px;
    text-align: center;
    margin-bottom: 60px;
}

.lista-receitas .thumb {
    width: 100%;
    max-width: 100%;
    height: 245px;
    background-color: orange;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.lista-receitas article h3 {
    font-size: 26px;
}

.lista-receitas article a {
    text-decoration: none;  
    background-color: #176902;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 5px 25px;
    border-radius: 5px;
}

.lista-receitas article a:hover {
    transition: 0.2s;
    background-color: #0f4a01;
    padding: 7px 27px;
}

section.banner-secundario {
    background-image: url(../imagens/foto-avo.png);
    background-size: cover;
    background-position: center;
}

section.banner-secundario .container {
    min-height: 600px;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.banner-secundario .container h2 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 62px;
    color: #fff;
}

section.banner-secundario .container p {
    color: #fff;
    font-size: 24px;
    margin-top: 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 450px;
    max-width: 100%;
}

footer {
    background-color: #ffa107;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

footer .container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
}

footer p {
    padding: 0 15px;
}

main .container {
    padding: 10px 30px;
}

main section.todas-receitas .container {
    min-height: 600px;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 0;
}

main section.todas-receitas h2 {
    color: #ffa000;
    font-weight: bold;
    font-size: 50px;
    text-transform: lowercase;
}

main section.risoto-abobora h2 {
    color: #ffa000;
    font-weight: bold;
    font-size: 50px;
    text-transform: lowercase;
}

.descrição {
    display: flex;
}

.preparo {
    width: 600px;
    max-width: 100%;
    text-align: justify;
    margin: 50px 0;
}

.preparo p {
    margin: 0;
}

.descrição p {
    border: 1px solid #176902;
    color: #176902;
    border-radius: 25px;
    font-weight: bold;
    padding: 5px 25px;
    margin: 20px 10px;
}

.banner-contato {
    width: 100%;
    max-width: 100%;
    height: 400px;
    background-image: url(../imagens/banner-contato.png);
    background-size: cover;
    background-position: center;
}

.banner-contato .container,
section.contato .container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
}

.banner-contato .container h1 {
    color: #fff;
    font-size: 70px;
}

.banner-vertical {
    width: 30%;
    max-width: 100%;
    height: 700px;
    background-image: url(../imagens/banner-vertical.png);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}

.formulario {
    border: 1px solid #FFA000;
    border-radius: 20px;
    margin: 0 30px;
    padding: 30px;
    width: 70%;
    max-width: 100%;
}

.formulario h2 {
    color: #FFA000;
}

.formulario form input {
    width: 100%;
    max-width: 100%;
    border: 1px solid #ffa000;
    border-radius: 7px;
    padding: 10px;
    margin: 5px 0;
}

.formulario form textarea {
    width: 100%;
    max-width: 100%;
    border: 1px solid #ffa000;
    border-radius: 7px;
    padding: 10px;
    margin: 5px 0;
    height: 200px;
}

.formulario form button {
    font-size: 16px;
    background-color: #ffa000;
    color: #fff;
    font-family: 'Montserrat' sans-serif;
    font-weight: 500;
    border: 1px solid #ffa000;
    padding: 5px 15px;
    border-radius: 30px;
}

.formulario form button:hover {
    transition: 0.2s;
    background-color: #147411;
    color: #ffffffdd;
    padding: 6px 16px;
    border-color: #147411;;
}

.receita-interna {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

aside h4 {
    color: #ffa000;
    font-family: 'Montserrat' sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.receita-relacionada {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.receita-relacionada h5 {
    text-align: center;
    font-size: 16px;
    padding: 16px;
    margin: 0;
    margin-bottom: 50px;
}

.img-aside {
    width: 245px;
    height: 242px;
    margin: 0;
}

@media (max-width: 1100px) {
    .container, 
    .receita-interna {
        width: 900px !important;
        max-width: 100% !important;
    }

    main section.banner .container {
        justify-content: flex-start;
    }

    .lista-receitas article {
        width: 250px;
    }

    .receita-interna main {
        width: 500px;
    }

    .receita-interna main iframe {
        width: 100%;
    }
}

@media (max-width: 900px) {
        .container,
        .receita-interna {
            width: 800px !important;
            padding: 0 20px;
        }

        .lista-receitas article {
            padding: 10px;
        }

        footer .container { 
            display: flex;
            flex-wrap: wrap; 
            justify-content: center;
        }
}

@media (max-width: 700px) {
    .lista-receitas article {
        width: 490px;
    }

    main section.banner {
        background-position: center;
    }

    main section.banner .container {
        justify-content: center;
        align-items: end;
    }

    main section.banner .container h1 {
       padding: 10px;
    }

    main section.todas-receitas h2 {
        text-align: center;
    }

    .receita-interna main { 
        max-width: 100%; 
    }

    main section.risoto-abobora h2 {
        font-size: 45px;
    }

    section .container img {
        max-width: 100%;
    }

    .banner-contato .container, 
    section.contato .container {
        padding: 30px;
        flex-direction: column-reverse;
    }

    .banner-vertical {
        width: 100%;
        height: 230px;
        border-radius: 15px;
    }

    .formulario {
        width: 100%;
        margin: 25px 0;
    }

}